.lists-carousel {
  margin-top: 16px;
  font-family: 'Poppins', sans-serif;

  .slick-arrow {
    font-size: 18px;
    line-height: 1;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: #fff;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }

  .slick-prev {
    left: 50;
  }

  .slick-next {
    right: 50;
  }

  .slick-track {
    display: flex; // Set the display property to flex
    justify-content: flex-start; // Align items at the start of the flex container
    align-items: center; // Align items at the center of the flex container
  }

  .slick-slide {
    display: flex; // Set the display property to flex
    justify-content: center; // Center the content horizontally
    align-items: center; // Center the content vertically
  }

  .list-item {
    outline: none;
    margin: 0 10px; // Adjust the margin between list items
  }
}
