@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@800&family=Source+Sans+3:wght@300;600&display=swap');

.home-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;

  .home-hero {
    width: 50%;

    .heading {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      text-align: left;
    }

    p {
      text-align: left;
    }

    button {
      border-radius: 8px;
      border-width: 0;
      padding: 10px 12px;
      text-align: center;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
  }

  .logo {
    width: 50%;
  }
}
