.user-component {
  .toggle-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      margin: 0 10px;
      padding: 10px;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: transparent;
      transition: background-color 1.0s, color 0.3s;

      &.active {
        background-color: #3498db;
        color: #fff;
        border-radius: 5px;
      }
    }
  }

  .create-list-button {
    margin-top: 50px;
    float: right;
    border-radius: 8px;
    border-width: 0;
    padding: 10px 12px;
    text-align: center;
    margin: 0.25rem;
    background-color: #3498db;
    color: white;

    &:hover {
      background-color: darkgray;
    }
  }


  .toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; 
  }

  &.my-books-active {
    .toggle-content {
      max-height: 2000px; 
    }
  }

  &.my-lists-active {
    .toggle-content {
      max-height: 2000px;
    }
  }
}
