@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.about-content {
  background-color: #FBF9F7;

  .about-heading {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-align: left;
    font-size: xxx-large;
  }

  .about-text {
    font-family: 'Poppins', sans-serif;
  }
}