.book-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: 'Poppins', sans-serif;

  .img-container {
    display: flex;
    justify-content: center;

    .cover-image {
      max-width: 15rem;
      max-height: 15rem;
      object-fit: contain;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      margin-top: 1rem;
    }
  
    .no-cover {
      margin-top: 5rem;
    }
  }

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    .stars {
      display: flex;
      flex-direction: row;
    }
  }
}