div.modal-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;

  button {
    border-radius: 8px;
    border-width: 0;
    padding: 10px 12px;
    text-align: center;
    cursor: pointer;
  }

  button:hover {
    background-color: darkgray;
  }

  button.close:hover {
    background-color: #0d4aa3;
  }
}